"*":
  "atom-beautify":
    general:
      _analyticsUserId: "dfc2c526-931e-408d-bc75-9b2ab13de2f7"
  "atom-ctags":
    autoBuildTagsWhenActive: true
    cmd: "/usr/local/bin/ctags"
  core:
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
  editor:
    fontFamily: "Andale Mono"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "c48ce2cd-b828-4f95-22b0-1d8516b12e2d"
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  linter:
    showErrorTabLine: true
  "linter-eslint":
    disableWhenNoEslintConfig: false
  "linter-rubocop": {}
  "linter-slim":
    executableDir: "/Users/chattsm/.gem/ruby/2.3.0/bin/slimrb"
  navigate: {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".slim.text":
  whitespace:
    removeTrailingWhitespace: true
